.App {
  text-align: center;
}

body {
  background-color: aqua;
}

.ImageItem {
 grid-template-columns: auto;
 margin: 20px;
 width: 300px;

}

.menu {
  width: 400px;
}
.titles {
  font-size: 3rem;
}
.description {
  font-size: 1rem;
}
.keyword {
  font-size: 1rem;
}
.horns {
  font-size: 1rem;
}
